.titleodin {
    color: orange;
    text-align: center;
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 1px auto;
}

.link {
    background-color: rgb(253, 230, 186);
    font-size: 24px;
    text-align: center;
    border: 1px solid rgb(75, 75, 75);
    padding: 8px;
    margin: 150px auto;
    width: 170px
}

.imagefood {
    text-align: center;
}

.food {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.description {
    text-align: center;
}

body {
    background-color: rgb(224, 245, 212);
}

.pizzabg {
    background-color: rgb(231, 162, 162);
}